/* customize bootstrap by overriding sass variables */


$primary: #3d8bff;
$font-family-sans-serif: 'Barlow', 'sans-serif';
@import "~bootstrap/scss/bootstrap";

.btn-primary,
.btn-primary:hover,
.btn-primary:active {
    color: #fff;
}